*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    

}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-between;



}
.nav-logo{
    height: 50px;
    width: 150px;
}
.logo{
    background-image: url(photo/image.png);
    height: 50px;
    width: 100%;
    background-size: cover;


}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white; 
    
}

/** box 2 **/

.first{
    color: #cccccc ;
    font-size: 0.85rem;
    margin-left: 25px ;
}
.ad-icon{
    display: flex;
    align-items: center;
}
.second{
    font-size: 1rem;
    margin-left: 3px;
}

/** 3rd box **/
.nav-search{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
    height: 40px;


    
    
    
}
.nav-search:hover{
    border: 2px solid orange;
}
.search-icon{
    background-color: orange;
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%; 
    color: #0f1111;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.2rem;


}
.search-select{
    border-top-left-radius: 5%;
    border-bottom-left-radius: 5%;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border: none;

}
.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

/** box4 &5 **/
span{
    font-size: 0.7rem;
}
.nav-second{
    font-size: 0.85rem;
    font-weight: 700 ;

}
 
/**box 6 **/
.nav-cart{
    display: flex;
}
.nav-cart i{

    font-size: 30px;

}
.nav-cart p{
    margin-top: 8px;
    margin-right: 4px;
    font-size: small;
}
 
/**new panel**/
.panel{
    display: flex;
    justify-content: space-between;
    height: 40px;
    background-color: #222f3d;
    align-items: center;
    color: white;


}
.panel p{
    display: inline;
    margin-left: 15px;
}
.panel-ops{
    width: 70%;
    display: flex;
    justify-content: flex-start;
    font-size: 0.85rem;
    margin-left: 15px;
}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}
/**hero section **/

.hero-section{
    display: flex;
    background-image: url(photo/Amazon\ Clone\ hero.jpg);
    background-size: cover;
    height: 300px;
    justify-content: center;
    align-items: flex-end;
    
    

}
.hero-message{
    position:absolute;
    margin-bottom: 20px;
    background-color: white ;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    

}
a{
    color: orange;
}

/** shop section **/
.box{
    border: 2px solid black;
    height: 250px;
    width: 300px;
    background: linear-gradient(145deg, #fffef5, #f5f5dc);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    margin-left:20px 10px 0px 0px;
    font-weight: 600;
}
.shop-section{
    display: flex;
    flex-wrap: wrap;
    height: 650px;
    padding-top: 10px;
    
    
    justify-content:space-evenly;
    background-color: #ffea61;

}
.photo-inside{
    background-size: cover;
    height: 150px;
    margin: 20px 0px 10px;
    margin-left: 10px;
    margin-right: 10px;
}
.box a{
    margin-bottom: 40px;
    padding-bottom: 40px;
    font-size: small;
}
.box2 a{
    font-size: small;
}
.content-box{
    margin-left: 10px;
    margin-right: 10px;
}
/** style for footer **/
.footer{
    margin-top: 15px;
}
.foot-panel1{
    background: #0f1111;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;
}
.foot-panel2{
    background-color:#222f3d ;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}
ul{
    margin-top: 20px;

}
ul a{
    display: block;
    text-decoration: none;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd
    ;
}
.footer-panel3{
    display: flex;
    background-color: #0f1111;
    color: white;
    border-top: 0.2px solid white ;
    height: 68px;
    justify-content: center;
    align-items: center;
}
.panel-logo{
    background-image: url(photo/image.png);
    height: 60px;
    width: 200px;
    background-size: cover;
    

}
.foot_panel4{
    background-color: #0f1111;
    color: white;
    
    height: 100px;
    font-size: 0.7rem;
    text-align: center;

    
}
.pages{
    
    padding-top:5px ;

}
.copyright{
    padding-top: 5px;

}


